#header li{
    padding: 0px 10px;
}

#footer{
    clear: left !important;
    padding: 10px !important;
    text-align: center !important;
    position: relative !important;
    font-size: 11px !important;
}

#footer li{
    display: inline !important;
    border-left: solid 1px black !important;
    padding: 0 10px !important;
}

#footer li:first-child{
    border-left: none !important;
}

body {
    font-family: Amarante !important;
}

#login_button #logout_button{
    min-width: 100px !important;
}

#login{
    margin: 20px auto;
    max-width: 400px;
}