#header li{
    padding: 0px 10px;
}

#footer{
    color: #5B5B5B !important;
    clear: left !important;
    padding: 10px !important;
    text-align: center !important;
    position: relative !important;
    font-size: 15px !important;
}

#footer li{
    display: inline !important;
    border-left: solid 1px black !important;
    padding: 0 10px !important;
}

#footer li:first-child{
    border-left: none !important;
}

body {
    font-family: Amarante !important;
}

#login_button{
    min-width: 100px !important;
}

#logout_button{
    min-width: 100px !important;
}

#login{
    margin: 20px auto;
    max-width: 400px;
    color: #5B5B5B !important;
}

#averages_card{
    margin-top: 30px;
    margin-bottom: 30px;
}
#averages_card2{
    max-width: 300px;
    margin: 0 auto;
}

#averages_form {
    color: #5B5B5B !important;
    margin: 5px auto;
    max-width: 200px;
}

#averages_form option{
    color: #5B5B5B !important;
}

#footer a {
    color: #6D98BA !important;
}

#content_card {
    max-width: 97%;
    margin: 30px auto;
}

#prob_row1{
    margin: 40px auto;
    max-width: 1200px;
}

#prob_row2{
    margin: 100px auto 30px;
    max-width: 1200px;
}

#probability_card{
    max-width: 300px;
    margin: 0 auto;
}

#probability_card2{
    margin: 0 auto;
}

#probability_card3 {
    min-width: 400px;
    min-height: 200px;
}

#card_body_stuff {
    display: flex;
    align-items: center;
    justify-content: center;
}

#probability_form{
    color: #5B5B5B !important;
}

#probability_form select{
    margin: 10px;
}

#probability_form option{
    color: #5B5B5B !important;
}

#feedback_form{
    color: #5B5B5B !important;
}

#feedback_div{
    margin: 20px auto;
    max-width: 800px;
}

#player_feedback{
    margin: 20px auto;
    max-width: 1500px;
}

#player_feedback h1{
    text-align: center;
    color: #5B5B5B !important;
}

#feedback_table{
    color: white !important;
    background-color: #704C5E !important;
}

#feedback_table thead tr th{
    border-top: none !important;
}

#loading-indicator {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-indicator-img{
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 100;
}

#campaigns {
    color: #5B5B5B !important;
    margin: 40px auto;
    max-width: 600px;
}

#play_sessions {
    color: #5B5B5B !important;
    margin: 20px auto 40px;
    max-width: 1000px;
}

#players_list{
    max-width: 400px;
}

#back {
    margin: 20px 0 5px 20px;
}

#encounters {
    color: #5B5B5B !important;
}

#encounter_actions {
    margin: 20px auto;
    color: #5B5B5B !important;
    max-width: 1000px;
}

#session_notes {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 0;
}

#encounters_list {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 0;
}


#encounter_action_table {
    color: #5B5B5B !important;
    display: table !important;
}

#encounter_action_table thead tr th {
    border-top: none !important;
}

#add_encounter_action {
    max-width: 50%;
    margin: 0px auto;
}

#encounter_totals_table {
    color: #5B5B5B !important;
    display: table !important;
}

#encounter_totals_table thead tr th {
    border-top: none !important;
}