{% extends 'index.html' %}
{% block content %}
    <div id="content">
        <div id="feedback_div">
            <form id="feedback_form">
                <h2 class="text-center">Feedback</h2>
                <br>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="campaign">Campaign:</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="campaign" id="campaign" required>
                                {% for key, value in campaigns.items() %}
                                    <option class="{{ value }}" id="{{ key }}">{{ value }}: {{ key }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="player_name">Your Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="player_name" name="player_name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="date">Play Sesssion Date:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="date" name="date" placeholder="MM-DD-YYYY" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="feedback">Feedback:</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="feedback" name="feedback" maxlength="65500" required style="min-height: 200px;"></textarea>
                    </div>
                </div>
                <div class="form-group row text-center">
                    <div class="col">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% block feedback_scripts %}
        <script src="/static/js/feedback.js"></script>
    {% endblock %}
{% endblock %}