<html>
{% block head %}
  <head>
      <title>Roll D20</title>
      <link rel="stylesheet" type="text/css" href="/static/css/style.css">
      <link rel="stylesheet" href="/static/css/bootstrap.css"/>
      <link rel="stylesheet" href="/static/css/bootstrap-grid.css"/>
      <link rel="stylesheet" href="/static/css/bootstrap-reboot.css"/>
      <link href="/static/images/favicon.ico" type="image/x-icon" rel="shortcut icon" />
      <link href="/static/fonts/fonts.css" type="text/css" rel="stylesheet">
      <link rel="stylesheet" href="/static/css/font-awesome.css">
  </head>
{% endblock %}
{% block body %}
    <body style="background-color: #424B54;">
    <div id="header">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #5B5B5B;">
      <a class="navbar-brand nav" href="/">Roll D20</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/campaigns/">Campaign Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exp_calculator/">EXP Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/probability/">Probability</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/grid_overlay/">Map Grid Overlay</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/player_feedback/">Player Feedback</a>
          </li>
        </ul>
        {% if current_user.is_authenticated %}
            <span class="navbar-text">Welcome, {{ current_user.name }}&emsp;</span>
        {% endif %}
        <span class="navbar-text">
            {% if current_user.is_authenticated %}
                <a role="button" class="btn btn-sm btn-success" id="logout_button" href="/logout/">Logout</a>
            {% else %}
                <a role="button" class="btn btn-sm btn-success" id="login_button" href="/login/">Login</a>
                <a role="button" class="btn btn-sm btn-success" id="sign_up_button" href="/sign_up/">Sign Up</a>
            {% endif %}
        </span>
      </div>
    </nav>
        {% block scripts %}
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/jquery.validator.js"></script>
        <script src="/static/js/tether.min.js"></script>
        <script src="/static/js/popper.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
    </div>
    <div class="card" style="background-color: #C8D3D5" id="content_card">
    {% block content %}
    {% endblock %}

    {% block footer %}
        <div class="card-footer" id="footer">
            <ul>
                <li>@2017 Ashley Gilbert</li>
                <li><a href="/">Home</a></li>
                <li><a href="/player_feedback/">Player Feedback</a></li>
            </ul>
        </div>
        </div>
    {% endblock %}

    </body>
{% endblock %}