{% extends 'index.html' %}
{% block content %}
    <div id="content">
        <a href="/campaigns/" id="back" class="btn btn-success">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span>&emsp;Back to campaigns</span>
        </a>
        <div class="text-center" id="play_sessions">
            <h2>{{ campaign.name }}</h2>
            <br/>
            <br/>
            <div class="row" id="campaign_row">
                <div class="col">
                    <h4>Choose a play session:</h4>
                    <ul class="list-group">
                        {% for play_session in play_sessions %}
                            <a href="/play_sessions/{{ play_session.id }}/" class="list-group-item list-group-item-action list-group-item-success">
                                <h4>{{ play_session.date.strftime('%m/%d/%Y') }}</h4>
                                <h6>{{ play_session.description }}</h6>
                            </a>
                        {% endfor %}
                        <button id="add_session" data-toggle="modal" data-target="#add_session_modal" class="list-group-item list-group-item-action list-group-item-secondary">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span>&emsp;New Session</span>
                        </button>
                    </ul>
                </div>
                <div class="col" id="players_list">
                    <h4>Characters:</h4>
                    <ul class="list-group">
                        {% for player in players %}
                            <button id="{{ player.id }}" class="edit_player list-group-item list-group-item-action list-group-item-success">
                                <h4>{{ player.name }}</h4>
                                <h6 class="text-left">Level: {{ player.level }}</h6>
                                <h6 class="text-left">Mythic Tier: {{ player.mythic_tier }}</h6>
                                <h6 class="text-left">Class 1: {{ player.class1 }}</h6>
                                <h6 class="text-left">Class 2: {{ player.class2 }}</h6>
                                <h6 class="text-left">EXP: {{ player.exp }}</h6>
                            </button>
                        {% endfor %}
                        <button id="add_player" data-toggle="modal" data-target="#add_player_modal" class="list-group-item list-group-item-action list-group-item-secondary">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span>&emsp;New Character</span>
                        </button>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal fade" id="add_session_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Play Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                    <div id="add_session_div">
                        <form id="session_form">
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="date">Date:</label>
                                    <div class="col-sm-8">
                                        <input type="date" class="form-control" id="date" name="date" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="description">Description:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="description" name="description" maxlength="127" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="submit_session" class="btn btn-success">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="add_player_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Character</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                    <div id="add_player_div">
                        <form id="add_player_form">
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="player_name">Name:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="player_name" name="player_name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="class_1">Class 1:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="class_1" name="class_1" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="class_2">Class 2:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="class_2" name="class_2">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="level">Level:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="level" name="level" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="mythic_tier">Mythic Tier:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="mythic_tier" name="mythic_tier">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="exp">EXP:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="exp" name="exp" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="submit_player" class="btn btn-success">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>

            </div>
          </div>
        </div>
        <div class="modal fade" id="edit_player_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Character</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                    <div id="edit_player_div">
                        <form id="edit_player_form">
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="player_name2">Name:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="player_name2" name="player_name2" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="class_12">Class 1:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="class_12" name="class_12" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="class_22">Class 2:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="class_22" name="class_22">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="level2">Level:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="level2" name="level2" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="mythic_tier2">Mythic Tier:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="mythic_tier2" name="mythic_tier2">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-sm-4" for="exp2">EXP:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="exp2" name="exp2" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="edit_player" class="btn btn-success">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
            </div>
          </div>
        </div>

    </div>
    {% block play_session_scripts %}
        <script>
        $(document).ready(function () {
            $("#session_form").submit(function (event) {
                event.preventDefault();
                var date = $('#date').val();
                var description = $('#description').val();
                $.ajax({
                    url: '/add_play_session/',
                    data: {
                        'campaign_id': {{ campaign.id }},
                        'date': date,
                        'description': description
                    },
                    type: 'POST',
                    success: function (response) {
                        window.location.href = response["next"];
                    },
                    error: function (error) {
                        console.log(error);
                        alert("Something weird happened while adding your new session. Make sure you input all fields correctly")
                    }
                });
            });
            $("#add_player_form").submit(function (event) {
                event.preventDefault();
                var player_name = $('#player_name').val();
                var class_1 = $('#class_1').val();
                var class_2 = $('#class_2').val();
                var level = $('#level').val();
                var mythic_tier = $('#mythic_tier').val();
                var exp = $('#exp').val();
                $.ajax({
                    url: '/add_player/',
                    data: {
                        'campaign_id': {{ campaign.id }},
                        'name': player_name,
                        'class1': class_1,
                        'class2': class_2,
                        'level': level,
                        'mythic_tier': mythic_tier,
                        'exp': exp
                    },
                    type: 'POST',
                    success: function (response) {
                        window.location.href = response["next"];
                    },
                    error: function (error) {
                        console.log(error);
                        alert("Something weird happened while adding your new player. Make sure you input all fields correctly")
                    }
                });
            });
            $(".edit_player").click(function (event) {
                event.preventDefault();
                var player_id = this.id;
                $.ajax({
                    url: '/get_player/',
                    data: {
                        'player_id': player_id
                    },
                    type: 'POST',
                    success: function (response) {
                        var player = response["player"];
                        $('#edit_player_div').attr("class",player['id']);
                        $('#player_name2').replaceWith("<input type='text' class='form-control' id='player_name2' name='player_name2' value='" + player['name'] + "' required>");
                        $('#class_12').replaceWith("<input type='text' class='form-control' id='class_12' name='class_12' value='" + player['class1'] + "' required>");
                        $('#class_22').replaceWith("<input type='text' class='form-control' id='class_22' name='class_22' value='" + player['class2'] + "'>");
                        $('#level2').replaceWith("<input type='text' class='form-control' id='level2' name='level2' value='" + player['level'] + "' required>");
                        $('#mythic_tier2').replaceWith("<input type='text' class='form-control' id='mythic_tier2' name='mythic_tier2' value='" + player['mythic_tier'] + "'>");
                        $('#exp2').replaceWith("<input type='text' class='form-control' id='exp2' name='exp2' value='" + player['exp'] + "' required>");
                        $('#edit_player_modal').modal('show');
                    },
                    error: function (error) {
                        console.log(error);
                        alert("OOPS! Something weird happened while getting the player.")
                    }
                });
            });
            $("#edit_player_form").submit(function (event) {
                event.preventDefault();
                var player_name = $('#player_name2').val();
                var class_1 = $('#class_12').val();
                var class_2 = $('#class_22').val();
                var level = $('#level2').val();
                var mythic_tier = $('#mythic_tier2').val();
                var exp = $('#exp2').val();
                var player_id = $('#edit_player_div').attr('class');
                $.ajax({
                    url: '/edit_player/',
                    data: {
                        'player_id': player_id,
                        'campaign_id': {{ campaign.id }},
                        'name': player_name,
                        'class1': class_1,
                        'class2': class_2,
                        'level': level,
                        'mythic_tier': mythic_tier,
                        'exp': exp
                    },
                    type: 'PUT',
                    success: function (response) {
                        window.location.href = response["next"];
                    },
                    error: function (error) {
                        console.log(error);
                        alert("Something weird happened while editing your player. Make sure you input all fields correctly")
                    }
                });
            });


        });
        </script>
    {% endblock %}
{% endblock %}
