{% extends 'index.html' %}
{% block content %}
    <div id="loading-indicator"><img id="loading-indicator-img" src="/static/images/loading.gif"  alt/></div>
    <div id="content">
        <div class="row text-center" id="prob_row1">
            <div class="col-md-4" id="averages_card">
                <form id="averages_form">
                    <h4 class="text-center">Add D20 Roll</h4>
                    <div class="form-group row">
                        <div class="col">
                            <select class="form-control" name="roll" id="roll" title="" required>
                                {% for i in range(1, 21) %}
                                    <option>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4" id="averages_card">
                <div class="card text-white" id="averages_card2" style="background-color: #90B398;">
                    <div class="card-header">Today D20 Average</div>
                    <div class="card-body">
                        <h4 class="card-title" id="today_average">{{ '%0.2f' % today_average|float }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="averages_card">
                <div class="card text-white" id="averages_card2" style="background-color: #A37F91;">
                    <div class="card-header">Overall D20 Average</div>
                    <div class="card-body">
                        <h4 class="card-title" id="total_average">{{ '%0.2f' % total_average|float }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" id="prob_row2">
            <div class="col-md-6" id="probability_card">
                <form class="" id="probability_form">
                    <h4 class="text-center">Dice Probabilities</h4>
                    <div class="form-group row">
                        <label class="control-label col-sm-6" for="target">Probability Target:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="target" name="target" required>
                        </div>
                    </div>
                    <div class="form-group row">
                    {% for i in [4,6,8,10,12,20,100] %}

                        <label class="control-label col-sm-4" for="{{ i }}">{{ i }}: </label>
                            <div class="col-sm-8">
                                <select class="form-control" name="dice" id="{{ i }}" required>
                                {% if i != 6 %}
                                    {% for n in range(0, 6) %}
                                        <option>{{ n }}</option>
                                    {% endfor %}
                                {% else %}
                                    {% for n in range(0, 21) %}
                                        <option>{{ n }}</option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                            </div>

                    {% endfor %}
                    </div>
                    <div class="form-group row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6" id="probability_card2">
                <div class="card text-white" id="probability_card3" style="background-color: #6D98BA;">
                    <div class="card-header">Probability</div>
                    <div class="card-body" id="card_body_stuff">
                        <h2 class="card-title" id="probability_header"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block probability_scripts %}
        <script src="/static/js/probability.js"></script>
    {% endblock %}
{% endblock %}
